<div id="hoverbox">
  <span class="close"><a class="close" onclick="closeLightbox();">x</a></span>
  <%= in_place_editor_field :artwork, 'title', { :tag => :h3 }, { :save_text => 'save' } %>
  <hr />
  
  <%= image_tag @artwork.image.url(:full), :id => 'full_artwork' %>
  
  <%- @artwork.description = '~' if @artwork.description.blank? -%>
  <%= in_place_editor_field :artwork, 'description', { :dont_escape => true }, { :rows => 10, :cols => 20, :save_text => 'save', :load_text_url => textilized_description_gallery_artwork_path(@gallery, @artwork) } %>
  <p style="font-size:0.5em">powered by <a href="http://www.textism.com/tools/textile/">Textile</a></p>
  
  <div class="artwork_actions">
    <%= link_to 'Delete', gallery_artwork_path(@gallery, @artwork), 
      :confirm => "Are you sure you want to delete '#{h(@artwork.title)}' ? This cannot be undone.", 
      :method => :delete %>
  </div>

  <div class="sequence">
    <%- if @prev_artwork -%>
    <span id="prev_artwork">
      <%= link_to_remote '&laquo;', 
      :update => 'lightbox_content', 
      :before => "lightboxLoading(true);", 
      :complete => "resizeLightbox();", 
      :url => gallery_artwork_path(@gallery, @prev_artwork), 
      :method => :get %>
    </span>
    <%- end -%>

    <%= @sequence %> <span class="of">of</span> <%= @size %>

    <%- if @next_artwork -%>
    <span id="next_artwork">
      <%= link_to_remote '&raquo;', 
      :update => 'lightbox_content', 
      :before => "lightboxLoading(true);", 
      :complete => "resizeLightbox();", 
      :url => gallery_artwork_path(@gallery, @next_artwork), 
      :method => :get %>
    </span>
    <%- end -%>
  </div>
  
  <div class="clr"></div>
</div>

