<%- @title = 'Contact' -%>
<div class="centered">
  <h1>Contact me</h1>
  <hr class="between head_room leg_room" />

  <div class="contact_methods">
    
    <p class="contact">
      <!-- Resume icon from: http://iconeden.com/icon/milky-a-free-vector-iconset.html -->
      <%= image_tag 'resume.png', :alt => 'resume', :class => 'contact_icon' %>
      <%= link_to "resume", resume_path %>
      <br />
    </p>
    
    <p class="contact">
      <!-- Gmail icon from: http://iconexpo.com/2009/02/free-gmail-icon-new-version/ -->
      <%= image_tag "gmail.png", :alt => "email", :class => 'contact_icon' %>
      <a href="mailto:gracechow316@gmail.com" class="contact_method">gracechow316@gmail.com</a>
      <br />
    </p>

    <p class='contact'>
      <!-- mobile phone icon from: http://led24.de/iconset/ -->
      <%= image_tag "mobile_phone.png", :alt => "call", :class => 'contact_icon' %>
      <span class="contact_method">(909) 282-8622</span>
      <br />
    </p>

    <p class="contact">
      <!-- LinkedIn icon from: http://komodomedia.com/ -->
      <%= image_tag "linkedin.png", :alt => "LinkedIn", :class => 'contact_icon' %>
      <a href="http://www.linkedin.com/in/chowgrace" class="contact_method">linkedin.com/in/chowgrace</a>
      <br />
    </p>

    <p class="contact">
      <!-- twitter icon from: http://komodomedia.com/ -->
      <%= image_tag "twitter.png", :alt => "twitter", :class => 'contact_icon' %>
      <a href="http://twitter.com/gracechow" class="contact_method">@GraceChow</a>
      <br />
    </p>
  </div>

  <hr class="between head_room leg_room" />
</div>