<h2>Editing <%= h(@gallery.name) %> Gallery</h2>

<br />
<% form_for(@gallery) do |f| %>
  <%= f.error_messages %>
  <%= f.label :name %>
  &nbsp;&nbsp;
  <%= f.text_field :name %>
  <%= f.submit "Rename" %>
<% end %>  

<hr />

<fieldset id="edit_gallery_categories">
  <legend>Categories</legend>
  
  <ol id="gallery_categories">
  <% @gallery.categories.ordered.each do |category| -%>
    <%= render :partial => "categories/category", :locals => { :category => category } %>
  <% end -%>
  </ol>
  
  <%= render :partial => 'categories/sortable_categories' %>
  
  <br />
  <%- remote_form_for [@gallery, @category] do |f| -%>
    <%= f.label :name, "New" %>
    &nbsp;&nbsp;
    <%= f.text_field :name %>
    <%= f.submit "Add" %>
  <% end -%>
  
</fieldset>

<%= link_to 'View this Gallery', @gallery %>