<h1>Listing galleries</h1>

<ol id="galleries">
<% for gallery in @galleries %>
  <li id="gallery_<%= gallery.id %>">
    <%=h gallery.name %>
    <%= link_to 'Show', gallery %>
    <%= link_to 'Edit', edit_gallery_path(gallery) %>
    <%= link_to 'Destroy', gallery, :confirm => 'Are you sure?', :method => :delete %>
  </li>
<% end %>
</ol>

<%= sortable_element :galleries, :url => reorder_galleries_path %>

<br />

<%= link_to 'New gallery', new_gallery_path %>
