<%= link_to 'Add Artwork', new_gallery_artwork_path(@gallery) %> | 
<%= link_to 'Edit Gallery', edit_gallery_path(@gallery) %> | 
<%= link_to 'Delete Gallery', @gallery, :confirm => 'Are you sure?', :method => :delete %>

<br /><br />

<%- @categories.each do |category| -%>
<div class="artworks">
  <h2><%= h(category.name) %></h2>
  
  <ol>
    <%- category.artworks.each do |artwork| -%>
      <li>
        <%= 
          link_to_remote_redbox content_tag('div', '&nbsp;', {:class => 'artwork_thumbnail', :style => "background: transparent url('#{ artwork.image.url(:thumb) }') no-repeat center center;"}), :url => gallery_artwork_path(@gallery, artwork), :method => :get
         %>
      </li>
    <% end -%>
  </ol>
</div>
<% end -%>