<%# cache 'navigation' do %>
<ol id="info_navigation" class="navigation">
  <li><a href="#">About</a></li>
  <li><a href="#">Contact</a></li>
</ol>

<ol id="galleries" class="navigation">
  <% Gallery.ordered.each do |gallery| %>
    <li id="gallery_<%= gallery.id %>" class="<%= 'current' if (viewing_gallery? gallery) %>">
      <%- link_text = h(gallery.name) -%>
      
      <%- if viewing_gallery? gallery -%>
        <span class="current_text"><%= link_text %></span>
      <%- else -%>
        <%= link_to link_text, gallery %>
      <%- end -%>
      
      <%- if logged_in? -%>
        <sup class="handle">&deg;</sup>
      <% end -%>
    </li>
  <% end -%>
</ol>

<%- if logged_in? -%>
<ol class="navigation">
  <li><%= link_to '+', new_gallery_path %></li>
</ol>
<% end -%>

<%- if logged_in? -%>
  <%= sortable_element :galleries, :handle => 'handle', :constraint => 'horizontal', :url => reorder_galleries_path %>
<% end -%>

<div class="clr"></div>
<%# end -%>