<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta content='noindex' name='robots' />
  <title>Grace Chow</title>
  <%= stylesheet_link_tag 'reset-min', 'main', 'redbox', :cache => 'cached_styles' %>  
  <%= javascript_include_tag :defaults, 'redbox', :cache => 'cached_scripts' %>
</head>
<body>

<div id="main_wrapper">
  <%= image_tag 'gracechow_name.png', :alt => "Grace Chow", :id => 'logo' %>
  <%= render :partial => 'layouts/nav' %>

  <%- wrapper_class = gallery_related? ? 'gallery_wrapper' : 'info_wrapper' -%>
  
  <div id="content_wrapper" class="<%= wrapper_class %>">
    <%= render :partial => 'layouts/flash', :locals => { :flash => flash } %>
    
    <%= yield %>
  </div>
</div>

<%- if RAILS_ENV == 'production' -%>
  <script src='http://beta.outspokes.com/widget/43' type='text/javascript'></script>
<% end -%>
</body>
</html>
