<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta content='noindex' name='robots' />
  <title>Grace Chow</title>
  
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.0.0b1/build/cssreset/reset-min.css"> 
  <%= stylesheet_link_tag 'main' %>
  
  <%= javascript_include_tag :defaults, :cache => true %>
</head>
<body>

<div id="main_wrapper">
  <h1>Grace Chow</h1>
  <%= render :partial => 'layouts/nav' %>

  <%- wrapper_class = gallery_related? ? 'gallery_wrapper' : 'info_wrapper' -%>
  
  <div id="content_wrapper" class="<%= wrapper_class %>">
    <%= render :partial => 'layouts/flash', :locals => { :flash => flash } %>
    
    <%= yield %>
  </div>
</div>

<script src='http://beta.outspokes.com/widget/43' type='text/javascript'></script>
</body>
</html>
